*{
    margin: 0;
    box-sizing: border-box;
}

header p {
    background-color: #1CD1B0;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

header h1 {
    background-color: #00669F ;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

section{
    background-color: white;
    position: relative;
}
.card-batman {
    display: inline-block;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    background-color: #F3F3F3;
    position: relative;
    top: 60px;
    bottom: 40px;
    left: 40px;
    text-align:left;
    border-radius: 5%;
}

main section h2 {
    text-align: center;
}

main section h2{
    margin-top: 80px;
}

main section p {
    margin-bottom: 30px;
    padding: 15px;
}

.boton p {
    background-color:#00669F;
    text-align: center;
    color: white;
    width: 128px;
    height: 48px;
    position: relative;
    left: 80px;
}

.logo-batman{
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 135px;
}

article i{
    font-size: 25px;
    color: red;
    position: absolute;
    left: 15px;
    top: 10px;
}
